<h1>Welcome to Playlister</h1>
<br>
<h3>Menu</h3>
<br>
<ul>
    <li>
        <a href="/songs/new">Make a New Song</a>
    </li>
    <li>
        <a href="/songs">See All Songs</a>
    </li>
    <li>
        <a href="/artists">See All Artists</a>
    </li>
    <li>
        <a href="/genres">See All Genres</a>
    </li>
</ul>